.cards__item {
  width: 240px;
  margin-right: 100px;
  display: block;
  font-display: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.cards__item:nth-child(3) {
  margin-right: 0px;
}
